body {
    background-color: black;
}

.logo_div {
    text-align: center; /* Logo matnni markazga joylashtirish */
    margin-bottom: 20px; /* Logo va formaro'yi orasidagi bo'shliqni belgilash */
}


.container {
    width: auto; /* Konteiner o'lchamini belgilash */
    margin: 0 auto; /* Konteineri markazga joylashtirish */
    padding: 20px; /* Konteinerdan o'ng va chap qirg'ichlar bo'ylab masofani belgilash */
    background-color: #f2f2f2; /* Konteiner fon rangi */
    border-radius: 10px; /* Konteiner qirg'ichlarining radiusi */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Konteiner uchun yorqinlik effect */
}

.form-group {
    margin-bottom: 15px;
}

#hidden_div_qosh{
    display: none;
}
#hidden_div_qosh_2{
    display: none;
}

#hidden_div_dabor{
    display: none;
}

#hidden_div_nalichnik{
    display: none;
}

#hidden_div_padshelnik{
    display: none;
}

#hidden_div_oyna {
    display: none;
}
#hidden_div_ustanovka{
    display: none;
}
#hidden_div_dastavka{
    display: none;
}


.form-group label {
    display: block; /* Labelni blok element sifatida ko'rsatish */
    margin-bottom: 5px; /* Label va inputlar orasidagi bo'shliqni belgilash */
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
option {
    padding: 10px;
    width:100%
}

button {
    background-color: #007bff; /* Tugma fon rangi */
    color: #fff; /* Tugma matni rangi */
    border: none; /* Tugma chiziqlarini olib tashlash */
    padding: 10px 15px; /* Tugma kengligi va balandligi */
    cursor: pointer; /* Tugma ustiga chorak qo'yish */
    border-radius: 5px; /* Tugma qirg'ichlarining radiusi */
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

#result h3 {
    margin-top: 0;
}

#totalCost {
    font-size: 18px;
    font-weight: bold;
}
