body {
    background-color: black;
}

.container {
    background-color: white;
    width: auto; /* You can adjust the width according to your layout */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

#hidden_div_qosh{
    display: none;
}
#hidden_div_qosh_2{
    display: none;
}

#hidden_div_dabor{
    display: none;
}

#hidden_div_nalichnik{
    display: none;
}

#hidden_div_padshelnik{
    display: none;
}

#hidden_div_oyna {
    display: none;
}
#hidden_div_ustanovka{
    display: none;
}
#hidden_div_dastavka{
    display: none;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

#result h3 {
    margin-top: 0;
}

#totalCost {
    font-size: 18px;
    font-weight: bold;
}
